<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>potatoCash</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  </head>
  <nav class="navbar" role="navigation" aria-label="main mavigation">
    <div class="navbar-brand">
      <a class='navbar-item' href="http://localhost:8000">
        <img src="https://cdn-icons-png.flaticon.com/512/1652/1652127.png" width="auto" height="auto">
      </a>
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href='/'>
          Home
        </a>
  
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Expenses
          </a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href='expenses'>
              View
            </a>
            <a class="navbar-item" href='expenses/add'>
              Add
            </a>
            <a class="navbar-item">
              Delete
            </a>
            <hr class="navbar-divider">
          </div>
        </div>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Users
          </a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href='expenses'>
              Invite
            </a>
            <a class="navbar-item" href='expenses/add'>
              Manage
            </a>
            <hr class="navbar-divider">
          </div>
        </div>

        <div class="navbar-item">
          <a class="navbar-item">
            Settings
          </a>
        </div>

      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary">
              <strong>Sign up</strong>
            </a>
            <a class="button is-light">
              Log in
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <body>
  <section class="section">
    <div class="container">
      <h1 class="title">
        Add Expense
      </h1>
      <p class="subtitle">
        Welcome to potatoCash! Made with &#129505;, using <strong>Bulma</strong> & <strong>Django</strong>
      </p>
    </div>
    <div class="container">
        <br><br>
        <form action="addexpense/" method="post">
            {% csrf_token %}
            Username: <br>
            <input name="user_name">
            <br><br>
            First Name: <br>
            <input name="first_name">
            <br><br>
            Last Name: <br>
            <input name="last_name">
            <br><br>
            Expense Category: <br>
            <input name="exp_category">
            <br><br>
            Expense Value: <br>
            <input name="exp_value">
            <br><br>
            <input type="submit" value="Submit">
        </form>
    </div>
  </section>
  </body>
</html>